/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

/src/main/resources/application-kubernetes.properties
/target/embeddedCassandra


# dependencies
/node_modules

/frontend/.vscode
ecomm-application/frontend/node_modules/
ecomm-application/backend/target/*


.DS_Store
.idea/