<div class="panel panel-default">
  <div class="panel-heading">
      <h1 style="text-align: center">Vaccines</h1><br>
      <div class="row" [hidden]="!deleteMessage">
           
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                        <div class="alert alert-info alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Vaccine Item Deleted</strong>
                        </div>
                </div>
                <div class="col-sm-4"></div>
        </div>           
    </div>

  
  <div class="panel-body">
      <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"  >
          <thead class="thead-light">
              <tr>
                  <th>Vaccine Name</th>
                  <th>Vaccine Description</th>
                  <th>Vaccine Price</th>
                  <th>Action</th>
                  
              </tr>
          </thead>
          <tbody>
               <tr *ngFor="let vaccine of vaccines ">
                  <td>{{vaccine.name}}</td>
                  <td>{{vaccine.description}}</td>
                  <td>{{vaccine.price}}</td>
                  <td>
                    <a [routerLink]="['/cart', { id:vaccine.id }]">Buy Now</a>
                </td>
                 
                  <td><button (click)="deleteVaccine(vaccine.id)" class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>&nbsp;
                    <button (click)="showVaccine(vaccine)" class='btn btn-info'
                    data-toggle="modal" data-target="#myModal">Update</button>
                  </td>
                </tr> 
          </tbody><br>
      </table>
  </div>
</div> 

<div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
                <form [formGroup]="vaccineupdateform" #updpro (ngSubmit)="updateVaccine(updpro)">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title" style="text-align: center">Update Producer</h4>
              
            </div>
            
      
            <!-- Modal footer -->
            <div class="modal-footer" >
              <button type="submit" class="btn btn-success" [hidden]="isupdated">Update</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Close</button>
            </div>
            
        </form>
          </div>
        </div>
      </div>